<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YoloIAP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFA5423F1E9E7501002BD522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFA542581E9E7501002BD522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFA542631E9E7502002BD522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
